{% extends 'base.html' %} {% block content %}
    <div class="container">
        {% for appointment in appointments %}
            
            <div>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    {{appointment.name}} - {{appointment.phone_number}}
                </a>
            </div>
            
            <div class="collapse" id="collapseExample">
                <div class="mt-3">
                    {{appointment.appt_date}} - {{appointment.appt_time}} - {{appointment.service}} - {{appointment.appt_location}}
                </div>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}


{% block custom_js %}

    <script type="text/javascript">

        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
        });

    </script>

{% endblock %}