{% extends 'base.html' %} {% block content %}

    <div id="booking" class="section-form">
		<div class="section-center-form">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg"></div>
						<form action="{{ url_for('book_appointment') }}" method="POST">
							<div class="form-header">
								<h2>Book Your Appointment</h2>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Name">
								<span class="form-label" id="name">Name</span>
							</div>
							<div class="form-group">
								<input class="form-control" type="tel" placeholder="Phone number">
								<span class="form-label" id="phone_number">Phone</span>
							</div>
							<div class="form-group">
								<input class="form-control" type="tel" placeholder="Address for the Appointment">
								<span class="form-label" id="appt_location">Location</span>
							</div>
                            <div class="form-group">
								<select id="service" name="service_name">
                                    <option value="" disabled selected>Choose Service</option>
                                    {% for service in services %}
                                        <option value="{{service.service_name}}">{{service.service_name}}</option>
                                    {% endfor %}
                                </select>
								<span class="select-arrow"></span>
								<span class="form-label">Select Service</span>
							</div>
							<div class="row">
								<div class="md-form">
                                    <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
                                    <label for="date-picker-example">Select Date</label>
                                </div>
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" type="time" id="appt_time" required>
										<span class="form-label">Appointment Time</span>
									</div>
								</div>
							</div>
							<div class="form-btn">
								<button class="submit-btn">Book Now</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	

{% endblock %}

{% block custom_js %}
    <script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
        });
        
        $('.datepicker').pickadate();

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
        }
        
	</script>

{% endblock %} 