 {% extends 'base.html' %} {% block content %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Contact
      <small>Get in touch with us for any questions you have!</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="breadcrumb-item active">Contact</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>Contact Details</h3>
        <p>
          3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </p>
        <p>
          <abbr title="Phone">P</abbr>: (123) 456-7890
        </p>
        <p>
          <abbr title="Email">E</abbr>:
          <a href="mailto:name@example.com">timely-care@outlook.com
          </a>
        </p>
        <p>
          <abbr title="Hours">H</abbr>: Monday - Sunday: 9:00 AM to 5:00 PM
        </p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4 message">
        <h3>Send us a Message</h3>
        <form name="sentMessage" id="contact_form" onsubmit="return sendMail(this);" method="POST" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>Full Name:</label>
              <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Email Address:</label>
              <input type="email" class="form-control" name="email" id="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message:</label>
              <textarea rows="10" cols="100" class="form-control" name="message" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}

{% block custom_js_head %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function(){
            emailjs.init("user_IbsmyvJymVJ1OKX0cZygE");
        })();
    </script>

{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        function sendMail(message) {
            emailjs.send("gmail", "message", {
                "from_name": message.name.value,
                "from_email": message.email.value,
                "message": message.message.value
            })
            .then(
                function(response) {
                    console.log("SUCCESS", response, message.name.value = "", message.email.value = "", message.message.value = "", alert("Your email has been sent"));
                },
                function(error) {
                    console.log("FAILED", error, message.name.value = "", message.email.value = "", message.message.value = "", alert("There was an error please try again"));
                }
            );
            return false;
        }
    </script>
{% endblock %}