{% extends 'base.html' %} {% block content %}

    <div class="container">

        <h1 class="mt-4 mb-3">Edit Selected Service</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Edit Selected Services</li>
        </ol>

        <div class="container container_edit_services">
		    <div class="wrap_edit_service">
			    <form class="edit_service-form validate-form" action="{{ url_for('update_service', service_id=service._id) }}" method="POST">

				    <div class="wrap-input validate-input" data-validate="Type is required">
					    <span class="form-label">Service Type</span>
					    <input class="form-control" id="service_type" name="service_type" type="text" placeholder="Service Type" value="{{service.service_type}}">
					    <span class="focus-input100"></span>
				    </div>

				    <div class="wrap-input validate-input" data-validate="Name is required">
					    <span class="form-label">Service Name</span>
					    <input class="form-control" id="service_name" name="service_name" type="text" placeholder="Service Name" value="{{service.service_name}}">
					    <span class="focus-input100"></span>
				    </div>

                    <div class="wrap-input validate-input" data-validate="Price is required">
                        <span class="form-label" >Price</span>
					    <input class="form-control" id="service_cost" name="service_cost" type="price" placeholder="Price" value="{{service.service_cost}}">
					    <span class="focus-input100"></span>
				    </div>

                    <div class="wrap-input validate-input" data-validate="Description is required">
                        <span class="form-label" >Service Description</span>
                        <input class="form-control" id="service_description" name="service_description" type="text" placeholder="Service Description" value="{{service.service_description}}">
					    <span class="focus-input100"></span>
				    </div>

					<div class="wrap_edit_service_form_btn">
						<div class="col-md-4 book_now_btn">
						    <button class="btn btn-lg btn-outline-secondary btn-block" type="submit" name="action">
							    <span>Edit Service</span>
						    </button>
					    </div>
				    </div>
			    </form>
		    </div>
	    </div>
    </div>

{% endblock %}