{% extends 'base.html' %} {% block content %}

    <div class="container">

        <h1 class="mt-4 mb-3">Edit Selected Service</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Edit Selected Services</li>
        </ol>

        <div class="container-contact100">
		    <div class="wrap-contact100">
			    <form class="contact100-form validate-form">

				    <div class="wrap-input100 validate-input" data-validate="Name is required">
					    <span class="form-label">Service Type</span>
					    <input class="form-control" id="service_type" name="service_type" type="text" placeholder="Service Type" value="{{service.service_type}}">
					    <span class="focus-input100"></span>
				    </div>

				    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					    <span class="form-label">Service Name</span>
					    <input class="form-control" id="service_name" name="service_name" type="text" placeholder="Service Name" value="{{service.service_name}}">
					    <span class="focus-input100"></span>
				    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <span class="form-label" >Price</span>
					    <input class="form-control" id="service_cost" name="service_cost" type="price" placeholder="Price" value="{{service.service_cost}}">
					    <span class="focus-input100"></span>
				    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <span class="form-label" >Service Description</span>
                        <input class="form-control" id="service_description" name="service_description" type="text" placeholder="Service Description" value="{{service.service_description}}">
					    <span class="focus-input100"></span>
				    </div>

				    <div class="container-contact100-form-btn">
					    <div class="wrap-contact100-form-btn">
						    <div class="contact100-form-bgbtn"></div>
						        <button class="contact100-form-btn">
							        <span>
								        Edit Service
								        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							        </span>
						        </button>
					        </div>
				        </div>
                    </div>
			    </form>
		    </div>
	    </div>
    </div>

{% endblock %}