{% extends 'base.html' %} {% block content %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Your Schedule
      <small>View all of your appointments here</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="breadcrumb-item active">Schedule</li>
    </ol>
    
    <div class="container">
        {% for appointment in appointments %}
            
           <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
            
                <div class="card">
                    <div class="card-header" role="tab" id="appt_heading">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{appointment.name}} - {{appointment.appt_date}} - {{appointment.appt_time}}
                            </a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="appt_heading">
                        <div class="card-body">
                            {{appointment.phone_number}} - {{appointment.service_name}} - {{appointment.appt_location}}
                        </div>
                    </div>
                </div>
            
            </div>
            
        {% endfor %}
    </div>
        
  </div>
{% endblock %}

{% block custom_js %}

    <script type="text/javascript">

        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
        });

    </script>

{% endblock %}
