{% extends 'base.html' %} {% block content %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Edit Services
      <small>Edit your different services available to offer customers</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Edit Services</li>
    </ol>

    <!-- Content Row -->
    
    <div class="row">
    {% for service in services %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">{{service.service_name}}</h3>
          <div class="card-body">
            <div class="font-italic">from</div>
            <div class="display-4">{{service.service_cost}}</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{service.service_description}}</li>
            <li class="list-group-item">
              <a href="{{url_for('edit_service', service_id=service._id)}}" class="btn btn-outline-primary">Edit</a>
              <a href="{{url_for('delete_service', service_id=service._id)}}" class="btn btn-outline-primary">Delete</a>
            </li>
          </ul>
        </div>
      </div>

      
    {% endfor %}
    </div>

    <div class="row mb-4 book_now_link">
        <div class="col-md-4 book_now_btn">
            <a class="btn btn-lg btn-outline-outline btn-block" href="{{ url_for('add_service') }}">Add New Service</a>
        </div>
    </div>
    
  </div>

{% endblock %}