{% extends 'base.html' %} {% block content %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Services
      <small>Look through the different services we have to offer!</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="breadcrumb-item active">Services</li>
    </ol>

    <!-- Content Row -->
    
    <div class="row">
    {% for service in services %}
      <div class="col-lg-4 mb-4" action="{{ url_for('order_entry') }}">
        <div class="card h-100">
          <h3 class="card-header">{{service.service_name}}</h3>
          <div class="card-body">
            <div class="font-italic">from</div>
            <div class="display-4">{{service.service_cost}}</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{service.service_description}}</li>
            <li class="list-group-item">
              <a href="{{ url_for('booking') }}" class="btn btn-outline-primary">Book Now!</a>
            </li>
          </ul>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- /.row -->

  </div>

{% endblock %}
